*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}

header{
    overflow: hidden;
}
.topNav ul{
    list-style-type: none;
}

.topNav li{
    float: left;
    margin: 10px;
    padding: 5px;
}

.topNav li a{
    color: black;
    text-decoration: none;
}
.topNav #projects, #contact{
    float: right;
}

.about{
    margin: 100px 0px 0px 50px;
}

.aboutHome{
    margin: 0px 100px 0px 100px;
}

#imgMe{
    float: right;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}