*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, Helvetica;
}

body{
    background-color:#1b1b1b;
    color: white;
    font: 16px
}

header{
    overflow: hidden;
    background-color: #1f1f1f;
}

.topNav ul{
    list-style-type: none;
    overflow: hidden;
}

.topNav li{
    float: right;
}

li.index{
    float: left;
}

.topNav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topNav li.contact a:hover, li.projects a:hover {
    background-color: orange;
}

.mainCon, #intro, #fullIntro{
    width: 90%;
    max-width: 800px;
    margin: 2% auto;
}

#codingLan{
    margin: 7% 5% 5% 5%;
    display: none;
}

#relCourseWork{
    display: none; 
    margin: 0 5% 0 5%;
}

#experience{
    display: none;
    margin: 5%; 
}

#asciiSpc{
    white-space: pre;
}

.insideProlink{
    color: white;
}

@media (max-width: 700px){
    #codingLan, #relCourseWork, #experience{
        width: 90%;
    }

}

@media (max-width: 590px){
    .mainCon{
        margin: 0;
    }
}